.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(9, 36, 68);
    width: 300px;
    margin-left: 750px;
    border-radius: 20px;
}

h1{
    color: white;
}
 h3{
    color: rgb(163, 160, 160);
 }


 .logintop input{
    border: none;
    outline-color: rgb(112, 250, 112);
    padding: 10px;
    background-color: black;
    margin-top:px;
    color: gray;
    font-family:serif;
    font-size:17px;
    border-radius: 5px;
    margin-bottom: 10px;
 }

 .logintop a{
    color:whitesmoke;
    font-weight: 500;
    text-decoration: none;
 }
button{
    width: 250px;
    padding: 5px;
    font-size: 20px;
    font-family: serif;
    background-color:rgb(61, 235, 61);
    border: none;
    outline: none;
    border-radius: 15px;
    margin-top: 10px;
    font-weight: 700;
    color: white;
}
.socialaccounts {
    color: gray;
    display: flex;
}
.accounts{
    color: white;
    display: flex;
    justify-content: space-evenly;
    
}

.loginbottom p{
    color: gray;
}

.loginbottom a{
    color: white;
    text-decoration: none;
}


