
body{
    background-image: url(/imajes/7.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: rgba(38, 141, 55, 0.144);
    border-radius: 20px;
    border: 1px solid rgb(85, 81, 81);
}

h1{
    color: white;
}
 h3{
    color: rgb(255, 255, 255);
 }


 .logintop input{
    border: none;
    outline: none;
    padding: 10px;
    background-color: black;
    margin-top:px;
    color: rgb(255, 255, 255);
    font-family:serif;
    font-size:17px;
    border-radius: 5px;
    margin-bottom: 10px;
    
 }

 .logintop a{
    color:whitesmoke;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
button{
    width: 200px;
    padding: 5px;
    font-size: 20px;
    font-family: serif;
    background-color:rgb(28, 117, 28);
    border: none;
    outline: none;
    border-radius: 15px;
    font-weight: 700;
    color: white;
}
.socialaccounts {
    color: gray;
    display: flex;
}
.accounts{
    color: white;
    display: flex;
    justify-content: space-evenly;
    
}

.loginbottom p{
    color: gray;
}

.loginbottom a{
    color: white;
    text-decoration: none;
}


