.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(9, 36, 68);
    width: 300px;
    margin-left: 750px;
    border-radius: 20px;
}
h1{
    color: white;
}

.userdetails input{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline-color:rgb(112, 250, 112);
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-family: serif;
}

.buttons{
    margin-bottom: 30px;
}

.buttons button{
    width: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:8px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: rgb(61, 235, 61);
    font-weight: 700;
    color: white;
    font-family: serif;
}